#mines-place-bet {
	background: linear-gradient(90deg, #1a1b30 0.14%, #191c35 99.86%);
	width: 384px;
	height: 640px;
	flex-shrink: 0;
	border-right: rgba(255, 255, 255, 0.04);
}

.bet-amount-input {
	width: 320px;
	height: 40px;
	flex-shrink: 0;
	background: radial-gradient(
			100% 930% at 100% 50%,
			rgba(29, 35, 82, 0.48) 0%,
			rgba(29, 31, 48, 0.48) 100%
		),
		radial-gradient(
			58.03% 60.37% at 50% 29.27%,
			rgba(118, 124, 255, 0.07) 0%,
			rgba(118, 124, 255, 0) 100%
		),
		linear-gradient(
			84.53deg,
			rgba(255, 138, 54, 0.16) 0%,
			rgba(0, 0, 0, 0) 15.36%
		),
		radial-gradient(
			50% 465% at 0% 50%,
			rgba(255, 178, 54, 0.08) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.03),
			rgba(255, 255, 255, 0.03)
		),
		linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.02),
			rgba(255, 255, 255, 0.02)
		);
	stroke-width: 1px;
	stroke-width: 1px;
	stroke: rgba(255, 255, 255, 0.03);
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12));
	backdrop-filter: blur(1.5px);
}

.bet-amount-input svg {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
}

.bet-amount-input input {
	font-feature-settings: 'clig' off, 'liga' off;
	text-shadow: 0px 1.796491265296936px 1.796491265296936px rgba(0, 0, 0, 0.12);
	font-family: Space Grotesk;
	font-size: 14.372px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.898px;
	color: transparent;
	caret-color: #ffb436;
	background: radial-gradient(70% 70% at 50% 80%, #ffb436 0%, #ffd58f 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	margin: 0;
}

.bet-amount-button {
	cursor: pointer;
	width: 46px;
	background: radial-gradient(
			58.03% 60.37% at 50% 29.27%,
			rgba(118, 124, 255, 0.07) 0%,
			rgba(118, 124, 255, 0) 100%
		),
		linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.12) 0%,
			rgba(255, 255, 255, 0.12) 100%
		),
		radial-gradient(
			292.69% 141.42% at 100% 0%,
			rgba(29, 35, 82, 0.48) 0%,
			rgba(29, 31, 48, 0.48) 100%
		);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
	transition: all 0.1s linear;
}

.bet-amount-button:active {
	height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

.mines-amount-input {
	width: 320px;
	height: 40px;
	flex-shrink: 0;
	background: radial-gradient(
			100% 930% at 100% 50%,
			rgba(29, 35, 82, 0.48) 0%,
			rgba(29, 31, 48, 0.48) 100%
		),
		radial-gradient(
			58.03% 60.37% at 50% 29.27%,
			rgba(118, 124, 255, 0.07) 0%,
			rgba(118, 124, 255, 0) 100%
		),
		linear-gradient(
			84.53deg,
			rgba(214, 51, 51, 0.16) 0%,
			rgba(0, 0, 0, 0) 15.36%
		),
		radial-gradient(
			50% 465% at 0% 50%,
			rgba(214, 51, 51, 0.08) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.03),
			rgba(255, 255, 255, 0.03)
		),
		linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.02),
			rgba(255, 255, 255, 0.02)
		);
	stroke-width: 1px;
	stroke: rgba(255, 255, 255, 0.03);
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12));
	backdrop-filter: blur(1.5px);
}

.mines-amount-input svg {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
}

.mines-amount-input input {
	color: #fff;
	font-feature-settings: 'clig' off, 'liga' off;
	text-shadow: 0px 1.796491265296936px 1.796491265296936px rgba(0, 0, 0, 0.12);
	font-family: Space Grotesk;
	font-size: 14.372px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.898px;
}

.mines-amount-button {
	border-radius: 4px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	width: 73.425px;
	height: 40px;
	flex-shrink: 0;
	transition: all 0.1s linear;
}

.mines-amount-button:focus {
	border-radius: 4px;
	background: radial-gradient(
		73.9% 182.51% at 47.87% -51.25%,
		rgba(255, 180, 54, 0.28) 0%,
		rgba(255, 180, 54, 0) 100%
	);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(1.5px);
}

.mines-amount-button svg {
	width: 21.918px;
	height: 20px;
	flex-shrink: 0;
}

.start-game-button {
	width: 320px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid rgba(255, 180, 54, 0);
	background: radial-gradient(
		73.9% 182.51% at 47.87% -51.25%,
		rgba(255, 180, 54, 0.28) 0%,
		rgba(255, 180, 54, 0) 100%
	);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 0px 6px 0px rgba(255, 180, 54, 0.24);
	transition: all 0.15s linear;
}

.start-game-button p {
	color: #ffb436;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
	font-family: Space Grotesk;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.1px;
}

.start-game-button:hover {
	border-color: #ffb53682;
	background: radial-gradient(
		73.9% 182.51% at 47.87% -51.25%,
		rgba(255, 180, 54, 0.4) 0%,
		rgba(255, 180, 54, 0.1) 100%
	);
}

.cashout-button {
	width: 320px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid rgba(39, 242, 120, 0);
	background: radial-gradient(
		73.9% 182.51% at 47.87% -51.25%,
		rgba(39, 242, 120, 0.28) 0%,
		rgba(39, 242, 120, 0) 100%
	);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 0px 6px 0px rgba(39, 242, 120, 0.24);
	transition: all 0.15s linear;
}

.cashout-button p {
	color: #27f278;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
	font-family: Space Grotesk;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.1px;
}

.cashout-button:hover {
	border-color: #27f27889;
	background: radial-gradient(
		73.9% 182.51% at 47.87% -51.25%,
		rgba(39, 242, 120, 0.4) 0%,
		rgba(39, 242, 120, 0.1) 100%
	);
}
