.money-gained {
	background: linear-gradient(
		270deg,
		rgba(92, 222, 144, 0.24) 0%,
		rgba(92, 222, 144, 0) 100%
	);
	width: 192px;
	height: 40px;
	flex-shrink: 0;
}

.money-gained p {
	font-feature-settings: 'clig' off, 'liga' off;
	text-shadow: 0px 3.555680751800537px 3.555680751800537px rgba(0, 0, 0, 0.12);
	font-family: Space Grotesk;
	font-size: 24.89px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.778px;
	background: radial-gradient(70% 70% at 50% 80%, #27f278 0%, #86ffb6 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
